name: Get e-Stat Data

on:
  workflow_call:
    secrets:
      APPID_ESTATAPI:
        required: true
      PG_DATABSE_URL:
        required: true
  workflow_dispatch:

jobs:

  getter:
    runs-on: ubuntu-latest

    container:
      image: rocker/tidyverse:4.2.2

    env:
      APPID: ${{ secrets.APPID_ESTATAPI }}
      PG_DATABSE_URL: ${{ secrets.PG_DATABSE_URL }}
      ROOT_DIR: ./resource
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # - name: Set up R
      #   uses: r-lib/actions/setup-r@v2
      #   with:
      #     r-version: '4.2.2' # The R version to download (if necessary) and use.
      #     # Use "renv" to retrieve R version recorded in renv.lock file.

      - name: Install packages
        run: install2.r RPostgreSQL
        # uses: r-lib/actions/setup-renv@v2

      - name: Run R script for Get e-Stat Data
        run:  Rscript ./R/getter.R $ROOT_DIR

      # - name: Run R script for Get e-Stat Data
      #   run:  ls ./resource -R -all

      - name: Commit changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global --add safe.directory "${GITHUB_WORKSPACE}"
          git add $ROOT_DIR
          if git diff-index --quiet HEAD --; then
            echo "No changes to commit"
          else
            git commit -m "resource update [bot] "
          fi
  
      - name: Push changes
        uses: ad-m/github-push-action@v0.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main      